<div class="modal-header">
  <h3>Login</h3>
</div>
<%= form_tag sessions_path do %>
  <div class="modal-body">
    <table class="table table-striped">
      <tr>
        <td>
          Name
        </td>
        <td>
          <%= text_field_tag :name, params[:name] %>
        </td>
      </tr>
      <tr>
        <td>
          Password
        </td>
        <td>
          <%= password_field_tag :password %>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <a class="button"><%= submit_tag 'Login' %></a>
  </div>
<%end%>