<script type="text/javascript" src="highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="highslide/highslide.css" />

<td style="width: 631px; background-color: #ffffff;" colspan="2">
  <div style="position: relative; width: 590px; font-family: Verdana; padding-top: 10px; margin: auto;">
    <table width="585" border="0" style="margin-left: 40px;">
      <tbody><tr valign="middle">
        <td valign="middle"><b>Введите номер вашей карты</b></td>
        <td><input class="phone" type="text" id="cart_id"></td>
        <td>
          <a data-remote="true" href="" onclick="vote();">
            <img src="/assets/uno-bonus/submit_bonus.jpg">
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <p>&nbsp;</p>
          <p><b><span style="font-size: 14px;">Дорогие друзья!</span></b><span style="font-size: 14px;"><br>
Мы предлагаем Вам стать участниками программы УНО БОНУС с Pizza Uno Momento!</span></p>
          <p><b><span style="font-size: 14px;">Получение карты УНО БОНУС:</span></b><span style="font-size: 14px;"><br>
Заполните анкету и получите нашу карту УНО БОНУС совершенно бесплатно.&nbsp;<br>
Мы гарантируем конфиденциальность предоставленных Вами сведений</span></p>

<div class="highslide-gallery">
  <table border="0" cellpadding="0" cellspacing="5">
    <tbody>
    <tr valign="top">
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/uno-bonus/uno_bonus_carta.jpg">
        <img class="img" alt="" src="/assets/uno-bonus/uno_bonus_carta_m.jpg" border="0">
      </a>
        <div class="highslide-caption"><b>Карта УНО БОНЫ</b><br>
          </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

          <p><span style="font-size: 14px;"><b>Что такое УНО БОНЫ и как их копить?</b><br>
УНО БОН – это валюта пиццерий Pizza Uno Momento.<br>
<b>1 УНО БОН = 1 рубль.&nbsp;</b><br>
<br>
После получения карты и согласия (<b>на участие</b>) в программе,  на Ваш бонусный счет будут зачисляться <b>УНО БОНЫ</b>, по принципу 1 УНО БОН за каждые 10 рублей Вашего заказа.<br>
<br>
<b>Как распоряжаться УНО БОНАМИ?</b><br>
Накопленными УНО БОНАМИ, Вы можете:<br>
1.Оплачивать последующие заказы в сети пиццерий Pizza Uno Momento&nbsp;<br>
(1 УНО БОН = 1 рубль);<br>
2.Приобретать <a href="/prize">специальные призы</a>.<br>
<br>
Чем чаще Вы будете посещать наши пиццерии или делать заказы на доставку, тем больше УНО БОНОВ будет накапливаться на Вашей карте, и тем больше товаров Вы сможете приобрести, не заплатив ни копейки.<br>
Во время проведения специальных акций на товары, участвующие в них, УНО БОНЫ могут не начисляться или начисляться по более высокой ставке.&nbsp;<br>
<br>
<b>Что такое специальные призы?</b><br>
Это большой ассортимент товаров, которые возможно приобрести за УНО БОНЫ.<br>
Со всем их разнообразием Вы можете ознакомиться на нашем сайте в разделе <a href="/prize">КАТАЛОГ ПРИЗОВ</a>.<br>
<br>
<b>Информирование о состоянии счета карты УНО БОНУС:</b><br>
Получить информацию о текущем размере Ваших накоплений можно:&nbsp;<br>
- в любой пиццерии Pizza Uno Momento. Передайте свою карту кассиру/официанту, который сообщит Вам информацию о сумме Вашего остатка.&nbsp;<br>
- в разделе УНО БОНУС нашего интернет-сайта. <a href="#top">Введите номер карты, Вашу Фамилию и Имя</a>, указанные при регистрации, и Вы получите полную информацию о состоянии своего счета по карте УНО БОНУС.&nbsp;<br>
<br>
<b>Дополнительная информация&nbsp;</b><br>
Обмен УНО БОНОВ на деньги и обратно не производится.&nbsp;<br>
Восстановление утерянной карты УНО БОНУС возможно при условии заполнения полной анкеты, Вашего пароля и наличия информации в базе данных. В этом случае Компания гарантирует выдачу новой карты и восстановление баланса УНО БОНОВ.<br>
<br>
<b>Полезные рекомендации:&nbsp;</b><br>
Предъявляйте карту кассиру до пробития чека.<br>
<br>
<b>Сохраняйте, пожалуйста, чек до момента зачисления бонусных баллов&nbsp;</b><br>
Карту нельзя подвергать воздействию магнитных полей, царапать, нагревать в СВЧ печи, гладить утюгом, стирать в стиральной машине. Не допускайте пропажи бумажника, в котором лежит Ваша карта.&nbsp;</span><br>
            <br>
            <br>
            &nbsp;</p>
        </td>
      </tr>
      </tbody></table>
  </div>
</td>

<script>
  function getXmlHttp(){
    var xmlhttp;
    try {
      xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (E) {
        xmlhttp = false;
      }
    }
    if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
      xmlhttp = new XMLHttpRequest();
    }
    return xmlhttp;
  }
  function vote() {
    var req = getXmlHttp()
    req.onreadystatechange = function() {
      if (req.readyState == 4) {
        if(req.status == 200) {
          alert("Бонусов на карте: "+req.responseText);
        }
        // тут можно добавить else с обработкой ошибок запроса
      }
    }
    var ss = $('#cart_id').val();
    req.open('GET', '/check_cart/' + ss, true);
    req.send(null);  // отослать запрос
  }


</script>