<!--<script type="text/javascript" src="highslide/highslide-with-gallery.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="highslide/highslide.css" />-->

<tbody>
<tr>
<td>
<p>&nbsp;</p>
<h3 align="center"><p><b><span style="font-size:20px;">Каталог призов</span></b>&nbsp;</p></h3>
<div class="highslide-gallery">
  <table border="0" cellpadding="0" cellspacing="5">
    <tbody>
    <tr valign="top">
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/RivegaucheL.jpg">  <img class="img" alt="" src="/assets/bonus-img/RivegaucheS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Подарочные карты Рив Гош – 300, 500, 1000, 2000 УБ</b><br>
          Получите подарочные карты Рив Гош на суммы: 300, 500, 1000, 2000 руб.</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/IKEAL.jpg">  <img class="img" alt="" src="/assets/bonus-img/IKEAS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Подарочные карты ИКЕА – 300, 500, 1000, 2000 УБ</b><br>
          Получите подарочные карты ИКЕА на суммы: 300, 500, 1000, 2000 руб.</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/PhoneMoneyL.jpg">  <img class="img" alt="" src="/assets/bonus-img/PhoneMoneyS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Пополнение счета мобильного телефона – 500 УБ</b><br>
          Внесение суммы 500 руб. на счет Вашего мобильного телефона</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/YulyaL.jpg">  <img class="img" alt="" src="/assets/bonus-img/YulyaS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Книга рецептов – 500 УБ</b><br>
          "Рецепты здоровой и активной жизни" от Юлии Высоцкой</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/MouseL.jpg">  <img class="img" alt="" src="/assets/bonus-img/MouseS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Мышь беспроводная – 500 УБ</b><br>
          Logitech M185 Wireless Mouse</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/columnL.jpg">  <img class="img" alt="" src="/assets/bonus-img/columnS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Колонки компьютерные – 300 УБ</b><br>
          Defender SPK-530</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/headphonesL.jpg">  <img class="img" alt="" src="/assets/bonus-img/headphonesS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Наушники – 400 УБ</b><br>
          Vivanco SFA 3031</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/RestaurantL.jpg">  <img class="img" alt="" src="/assets/bonus-img/Yalta_m.jpg" border="0"></a>
        <div class="highslide-caption"><b>Подарочный сертификат Gutsait Group – 1000, 2000, 3000, 5000 УБ</b><br>
          С помощью сертификата холдинга Gutsait Group на одну из выбранных сумм Вы получаете возможность провести время с частичной оплатой чека в одном из ресторанов, на Ваш выбор: <a href="http://www.podvorye.ru">Подворье</a>, <a href="http://yalta.gutsait.ru/">Ялта</a>, <a href="http://admiral.gutsait.ru/">Адмиралтейство</a>, <a href="http://unocafe.ru/">Uno Cafe</a>.</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/VISAL.jpg">  <img class="img" alt="" src="/assets/bonus-img/VISAS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Сертификат на оформление финской мультивизы (Шенген) 3000 УБ</b><br>
          Услуга доступна для граждан РФ, имеющих постоянную регистрацию в СПб. или Лен. области, имеющих действующий загранпаспорт со сроком действия не менее 3 месяцев на момент окончания поездки. В стоимость входит подготовка и подача заявления, фото и страховка.</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/cake.jpg">  <img class="img" alt="" src="/assets/bonus-img/cake_m.jpg" border="0"></a>
        <div class="highslide-caption"><b>Торт от кондитеров ресторана "Подворье" 3000 УБ</b><br>
          Классический торт от наших кондитеров весом 3 кг. с поздравительной надписью</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/Kids.jpg">  <img class="img" alt="" src="/assets/bonus-img/Kids_m.jpg" border="0"></a>
        <div class="highslide-caption"><b>Частичная оплата меню Детского Дня Рождения – любая сумма</b><br>
          Закажите проведение <a href="http://www.pizza-uno.ru/index.php?class=kid">Дня Рождения Вашего малыша</a> и оплатите любую недостающую сумму меню, с помощью УНО БОНОВ</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/PhoneL.jpg">  <img class="img" alt="" src="/assets/bonus-img/PhoneS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Смартфон Samsung Galaxy Ace II GT-I8160 3 000 УБ</b><br>
          Стандарт: GSM 900/1800/1900, 3G <br>
          Операционная система: Android 4.1<br>
          Экран: 3.8", мультитач, емкостный<br>
          Поддержка Bluetooth, Wi-Fi, 3G, GPS, ГЛОНАСС<br>
          Камера 5 МП, светодиодная вспышка, автофокус<br>
          Память 4 Гб, карты памяти microSD (TransFlash)<br>
          Вес 118 г, ШxВxТ 62.30x118.30x10.50 мм, акк. 1500 мАч<br>
          &nbsp;</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/CameraL.jpg">  <img class="img" alt="" src="/assets/bonus-img/CameraS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Фотоаппарат Samsung DV150F – 4000 УБ</b><br>
          Cверхтонкая SMART-камера, оснащеная дополнительным экраном на лицевой панели<br>
          Матрица 16.6 МПикс. (1/2.3")<br>
          Съемка видео разрешением до 1280x720<br>
          5-кратное оптическое увеличение<br>
          Wi-Fi<br>
          Вес камеры 116 г/&gt;            &nbsp;</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/PSPL.jpg">  <img class="img" alt="" src="/assets/bonus-img/PSPS.jpg" border="0"></a>
        <div class="highslide-caption"><b>PSP E1008 – 4000 УБ</b>  Консоль PSP-E1008, обладает основными функциями стандартной PSP - поддерживает все игры для PSP - в цифровом формате и на UMD дисках. На приставку, подключенную к компьютеру через USB-кабель, можно загрузить материалы из PlayStation Store с помощью бесплатного приложения Media Go.Портативная консоль обладает ЖК-экраном с диагональю 4,3 дюйма, который поддерживает порядка 16 770 000 цветов. PSP-E1008 имеет габариты 172,4х73,4х21,6 мм. Помимо игр Sony PSP-E1008 может использоваться в качестве обычного мультимедийного плеера – девайс поддерживает воспроизведение видео (MP4), музыки (MP3 и WMA) и изображений (JPEG, GIF, BMP и PNG).</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/CinemaL.jpg">  <img class="img" alt="" src="/assets/bonus-img/CinemaS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Билеты в кино на любой сеанс на 2 персоны  – 600 УБ</b><br>
          Получите два билета с открытой датой на любой фильм в ближайшем кинотеатре (Формула Кино или Мираж Синема)</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/AerotrubaL.jpg">  <img class="img" alt="" src="/assets/bonus-img/AerotrubaS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Полет в Аэротрубе – 3600 УБ</b><br>
          Сертификат на полет длительностью 4 минуты в Аэротрубе <a href="http://admiral.gutsait.ru/">FlyStation</a>. Время полета можно разделить на 2-х участников</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/GrandMaketL(1).jpg">  <img alt="" class="img" src="/assets/bonus-img/GrandMaketS(1).jpg" border="0"></a>
        <div class="highslide-caption"><b>2 билета на выставку "Гранд Макет России" – 900 УБ</b><br>
          Билеты с открытой датой</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/ShoppingL.jpg">  <img class="img" alt="" src="/assets/bonus-img/ShoppingS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Подарочный сертификат на покупки в сетях магазинов<br>
          H&amp;M, INCITY, Befree, Зарина, Love Republik<br>
          – 1000, 2000, 3000 УБ</b> <br>
          Обменивайте накопленные Уно Боны на подарочные сертификаты<br>
          (номиналом 1000, 2000 или 3000 рублей)<br>
          и отправляйтесь за обновками, либо используйте их в качестве подарка</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/PhotoSetL.jpg">  <img class="img" alt="" src="/assets/bonus-img/PhotoSetS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Фотосессия у профессионального фотографа  – 2000 УБ</b><br>
          В стоимость входит 1 час съемки в фотостудии,<br>
          ретушь 10 лучших кадров, запись 50 отобранных фотографий на диск CD</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/SunL.jpg">  <img class="img" alt="" src="/assets/bonus-img/SunS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Абонемент в солярий на 60 минут – 1200 УБ</b></div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/LaptopL.jpg">  <img alt="" class="img" src="/assets/bonus-img/LaptopS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Ноутбук – 11000 УБ</b><br>
          DELL INSPIRON 3521<br>
          Celeron 1017U 1600 Mhz<br>
          Экран - 15.6"/1366x768<br>
          Оперативная память - 2048Mb <br>
          Жесткий диск - 320Gb<br>
          DVD-RW/Wi-Fi/Bluetooth/Linux</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/TVL.jpg">  <img class="img" alt="" src="/assets/bonus-img/TVS.jpg" border="0"></a>
        <div class="highslide-caption"><b>ЖК Телевизор 32"– 9000 УБ</b> <br>
          Supra STV-LC32K790WL</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/microwaveL.jpg">  <img class="img" alt="" src="/assets/bonus-img/microwaveS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Микроволновая печь  – 2000 УБ</b><br>
          Oursson MD2000/BL</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/Xbox360L.jpg">  <img class="img" alt="" src="/assets/bonus-img/Xbox360S.jpg" border="0"></a>
        <div class="highslide-caption"><b>Игровая консоль Xbox 360 – 8000 УБ</b><br>
          Microsoft Xbox 360 4Gb</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/MultivarkaL.jpg">  <img alt="" class="img" src="/assets/bonus-img/MultivarkaS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Мультиварка – 1000 УБ</b><br>
          Scarlett SC-413</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/USB flashL.jpg">  <img class="img" alt="" src="/assets/bonus-img/USB flashS.jpg" border="0"></a>
        <div class="highslide-caption"><b> USB-накопитель– 500 УБ</b> <br>
          8Gb</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/BikeL.jpg">  <img class="img" alt="" src="/assets/bonus-img/BikeS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Велосипед  – 6000 УБ</b><br>
          Stern Dynamic 1.0</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/FrisbeeL.jpg">  <img class="img" alt="" src="/assets/bonus-img/FrisbeeS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Фрисби– 100 УБ</b></div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/VesiL.jpg">  <img alt="" class="img" src="/assets/bonus-img/VesiS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Весы напольные – 700 УБ</b><br>
          Zelmer 34Z012 LE</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/CartingL.jpg">  <img class="img" alt="" src="/assets/bonus-img/CartingS.jpg" border="0"></a>
        <div class="highslide-caption"><b> Катание на картинге для двоих– 1300 УБ</b> <br>
          10 мин.</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/MandrogiL.jpg">  <img class="img" alt="" src="/assets/bonus-img/MandrogiS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Поездка в деревню "Верхние Мандроги"  – 5000 УБ</b><br>
          Размещение в гостинице двух человек на 1 сутки с завтраком + катание в упряжке.</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/FererroL.jpg">  <img class="img" alt="" src="/assets/bonus-img/FererroS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Конфеты "Fererro Rocher"– 300 УБ</b><br>
          200 гр.</div>
      </td>
    </tr>
    <tr valign="top">
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/Konnaya_progulkaL.jpg">  <img alt="" class="img" src="/assets/bonus-img/Konnaya_progulkaS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Конная прогулка – 1000 УБ</b><br>
          30 минут в манеже + 30 минут по территории клуба "Александрова Дача"<br>
          г. Павловск, ул. Александра Матросова, 1А</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/Avia_GDL(1).jpg">  <img class="img" alt="" src="/assets/bonus-img/Avia_GDS(1).jpg" border="0"></a>
        <div class="highslide-caption"><b> Оплата ЖД и Авиа билетов</b> <br>
          Данная услуга предоставляется, только если билеты есть в открытой продаже. <br>
          Только 100% оплата.<br>
          Для покупки ж/д билетов необходимо сообщить ФИО полностью,<br>
          номер документа (паспорта) даты поездки, станция отправления – прибытия <br>
          (если есть несколько поездов, следующих по данному маршруту – предпочтительный для Вас)<br>
          Для покупки авиа билетов так же необходимо сообщить ФИО полностью <br>
          и номер документа (при перелетах по РФ – достаточно данных Российского паспорта, для международных перелетов – данные загран.паспорта), даты поездки, аэропорт отправления – прибытия (если есть несколько бортов, следующих по данному маршруту – предпочтительныйдля Вас).</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide" href="/assets/bonus-img/Helsinki_tourL.jpg">  <img class="img" alt="" src="/assets/bonus-img/Helsinki_tourS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Двухдневный тур в Финляндию на двоих – 5000 УБ</b><br>
          Тур в Хельсинки от компании Вест Тревел. <br>
          Стоимость включает переезд, проживание в отеле с завтраком<br> и обзорную экскурсию по городу.<br>
          Услуга доступна для граждан, имеющих действующую Шенгенскую визу</div>
      </td>
      <td><a onclick="return hs.expand(this, { slideshowGroup: 1})" class="highslide " href="/assets/bonus-img/NesteOilL.jpg">  <img class="img" alt="" src="/assets/bonus-img/NesteOilS.jpg" border="0"></a>
        <div class="highslide-caption"><b>Топливная карта – 1000 УБ</b><br>
          Топливная карта АЗС сети Neste Oil. Так же возможно приобретение карты номиналом 2000 и 3000 за соответсвующее количесвто Уно Бонов</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
  <td></td>
</tr><tr>
  <td height="200"></td>
</tr>
</tbody>

<script>
  hs.graphicsDir = './highslide/graphics/';
  hs.align = 'center';
  hs.transitions = ['expand', 'crossfade'];
  hs.outlineType = 'rounded-white';
  hs.fadeInOut = true;
  //hs.dimmingOpacity = 0.75;

  // Add the controlbar
  hs.addSlideshow({
    //slideshowGroup: 'group1',
    interval: 5000,
    repeat: false,
    useControls: true,
    fixedControls: 'fit',
    overlayOptions: {
      opacity: .75,
      position: 'bottom center',
      hideOnMouseOut: true
    }
  });
</script>