<table width="585" border="0" style="margin-left: 40px; font-family: verdana;"><tbody><tr><td>
  <p>&nbsp;</p>
  <p style="font-weight: bold; font-family: verdana;">Дорогие друзья!</p>
  <p>&nbsp;</p>
  <p>В этом разделе мы размещаем информацию о скидках, лотереях и конкурсах в сети пиццерий Pizza Uno Momento.</p>

</td></tr><tr><td style="padding-top: 10px;"><p><b><span>ВНИМАНИЕ! ВНИМАНИЕ! Новые акции от Уно Моменто Пушкин!</span></b><span><br>
</span></p>
  <p><span> <b>1. </b>По будням - любая Пицца Стандарт за 350 рублей </span></p>
  <p><span><span>(с пн. по пт. с 11.00 до 16.00)</span><br>
</span></p>
  <p><span>по выходным - к любому заказу - купон на бесплатную Картошку Стандарт </span></p>
  <p><span>(купон можно обменять на картошку при заказе на буднях на сумму от 300 рублей)!</span></p>
  <p>&nbsp;</p>
  <p><img width="600" height="288" alt="" src="/assets/stock/Лицо будни.jpg"></p>
  <p><img width="600" height="288" alt="" src="/assets/stock/Оборот вых.jpg"></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p style="text-align: justify; font-family: verdana;"><b>2. Дорогие друзья! </b><br>
    Пицца Уно Моменто дарит всем именинникам в День Рождения</p>
  <p style="text-align: justify;">скидку 20% на любую пиццу!*&nbsp;</p>
  <p style="text-align: justify;">Для получения скидки нужно всего лишь предъявить документ, подтверждающий дату Вашего рождения.&nbsp;</p>
  <p style="text-align: justify;"><br>
    <a contenteditable="false" href="http://vk.com/photo220362_267090115" class="wk_photo"><img width="400" height="312" alt="" src="http://cs11168.vk.me/u220362/-1/x_5d5e9ce8.jpg"></a></p>
  <p style="text-align: justify;"><br>
    * Скидка не суммируется с программой Уно-бонус</p>
  <p style="text-align: justify;">и другими действующими акциями.</p>
  <p style="text-align: justify;">&nbsp;</p>
  <p style="text-align: justify; font-family: verdana;"><b>3. Кроме того, </b>хотим Вам напомнить про нашу БОНУСНУЮ&nbsp;программу</p>
  <p style="text-align: justify;">УНО БОНУС! С которой Вы можете ознакомиться <a href="/uno_bonus">здесь!</a></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p></td></tr><tr><td height="200"></td></tr></tbody></table>