<ul class="drop" style="position:absolute; left:235px; top: 360px;">
  <li class="m-active m-diactive">
    <a href="/restaurants_pushkin">г.Пушкин</a>
  </li>
  <li class="m-active m-diactive">
    <a href="/restaurants_peter">г.Санкт-Петербург</a>
  </li>
  <li class="m-active m-diactive">
    <a href="/restaurants_kolpino">г.Колпино</a>
  </li>
  <li class="m-active m-diactive">
    <a href="/restaurants_terlyaevo">пос.Тярлево</a>
  </li>
</ul>