<ul class="drop" style="position:absolute; left:235px; top: 360px;">
  <li class="m-active" style="width: 145px;">
    <a href="/children_event">Детские праздники</a>
  </li>
  <li class="m-active m-diactive" style="width: 100px;">
    <a href="/restaurants_pushkin">г.Пушкин</a>
  </li>
  <li class="m-active m-diactive" style="width: 145px;">
    <a href="/restaurants_peter">г.Санкт-Петербург</a>
  </li>
  <!--<li class="m-active" style="width: 120px;">-->
  <!--<a href="/restaurants_kolpino">г.Колпино</a>-->
  <!--</li>-->
  <!--<li class="m-active m-diactive" style="width: 120px;">-->
  <!--<a href="/restaurants_terlyaevo">пос.Тярлево</a>-->
  <!--</li>-->
</ul>



<p>&nbsp;</p>
<table cellpadding="0" cellspacing="0"><tbody><tr valign="top"><td width="40"></td><td><p>&nbsp;</p>
  <p><span style="font-size: 20px; font-family: verdana;"><b>Уважаемые родители и детишки!</b></span></p>
  <p>&nbsp;</p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">Приглашаем Вас провести праздник по любому поводу в Pizza Uno Momento!<br>
С нами Дни Рождения, Именины и все остальные события будут САМЫМИ ВЕСЕЛЫМИ!<br>
Вас ждут клоуны, забавные конкурсы, игры, сюрпризы и конечно же незабываемо-вкусная пицца!<br>
С НАМИ ЕЩЁ НИКТО НЕ СКУЧАЛ! ОТ НАС ЕЩЁ НИКТО НЕ УХОДИЛ РАЗОЧАРОВАННЫМ!</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">&nbsp;</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">Сделать заявку, обсудить сценарий, меню праздника Вы можете лично с менеджером Pizza Uno<br>
Momento. Приезжайте в кафе или звоните по телефону.<br>
&nbsp;</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">Мы хотим чтобы Вам было удобно и комфортно отдыхать с нами!<br>
Мы готовы взять все переживания и трудности подготовки праздника на себя,<br>
Вам предоставим возможность только ОТДЫХАТЬ, ВЕСЕЛИТЬСЯ И ПОЛУЧАТЬ УДОВОЛЬСТВИЕ!</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">&nbsp;</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;">Телефоны для связи с менеджером Pizza Uno Momento:</span></span></p>
  <p><span style="font-family: Verdana;"><span style="font-size: 14px;"><br>
  <b>
    г. Санкт-Петербург: 586-3256<br>
    г. Колпино: 676-0090<br>
    г. Пушкин: 476-8762<br>
    пос. Тярлево, 466-83-23</b></span></span><span style="font-family: Verdana;"><span style="font-size: 14px;"><b><br>
  </b></span></span>
  <p>&nbsp;</p>
  <a class="variant2" style="width: 300px;" href="/children_foto">Фотогалерея</a>
  <p>&nbsp;</p></td></tr></tbody></table>