<td style="width: 631px; background-color: #ffffff;" colspan="2">





<br><div style="margin-left: 40px; margin-top: 30px; margin-bottom: -13px;" class="menu_cat2"><img border="0" src="/assets/zagolovok_28.gif"></div><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">500мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Жигули</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Redds</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Heineken</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Miller</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Tuborg</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Clausthaler&nbsp;б⁄а</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">120</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
</tbody></table>
<br><div style="margin-left: 40px; margin-top: 30px; margin-bottom: -13px;" class="menu_cat2"><img border="0" src="/assets/zagolovok_29.gif"></div><div class="descr_cat"><br>на доставку только 1000 мл и 1500 мл</div><br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;"><tbody><tr><td align="right" colspan="4" class="razm">330мл&nbsp;&nbsp;&nbsp;&nbsp;500мл&nbsp;&nbsp;&nbsp;&nbsp;1000мл&nbsp;&nbsp;&nbsp;&nbsp;1500мл</td></tr>
<tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Жигули</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;130&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;260&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;390</td></tr>
<tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(светлое) Россия</td></tr>
</tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Budweiser</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;230&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;460&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;690</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(темное) </td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Budweiser</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;230&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;460&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;690</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(светлое) </td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Erdinger</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;230&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;460&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;690</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(нефильтрованное) Германия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Spaten</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;220&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;440&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;660</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(светлое, фильтрованное) Германия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Bombardier</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">160&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;240&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;480&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;720</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(Эль) Англия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">*&nbsp;Green&nbsp;King&nbsp;Ipa</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;270&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;540&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;810</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;"></td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">*&nbsp;Guinness</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;270&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;540&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;810</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(стаут) Ирландия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">*&nbsp;Kilkenny</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;270&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;540&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;810</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(эль) Ирландия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Harp</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">160&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;240&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;480&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;720</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(светлое) Ирландия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Hoegaarden</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;275&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;550&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;825</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(белое, нефильтрованное) Бельгия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">Liefmans&nbsp;Fruitesse</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right">170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;275&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;550&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;825</td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">(вишневое) Бельгия</td></tr>
  </tbody></table>
<br><table width="571" cellpadding="0" cellspacing="0" border="0" style="margin-left: 41px;">
  <tbody><tr><td rowspan="2" valign="top" align="center"></td><td class="pricename1">*&nbsp;только&nbsp;Пушкин</td><td width="100%" class="pricename3"></td><td class="pricename2" align="right"></td></tr>
  <tr><td colspan="4" style="font-family: Verdana; font-size: 10px; color: rgb(80, 78, 78); padding-right: 150px;">* только Пушкин</td></tr>
  </tbody></table>





<br>
</div>
</td>