<head>
  <meta charset="utf-8" />
  <title>Пицца Уно Моменто. Доставка пиццы - тел. 2442888. Pizza Uno Momento</title>
  <script type="text/javascript" src="highslide/highslide.js"></script>
  <link rel="stylesheet" type="text/css" href="highslide/highslide.css" />
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "all" %>

  <!--< %= javascript_include_tag "fotorama.js" %>-->
  <!--< %= stylesheet_link_tag "fotorama.css" %>-->
  <!--< %= javascript_include_tag "scripts.js" %>-->

</head>